# Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
*.log

# Virtual Environment
env/
venv/
ENV/

# Django settings
*.env
.env部分环境变量
.env

# Static and media files
media/
staticfiles/

# IDE files
.idea/
.vscode/

# Windows
Thumbs.db
desktop.ini